<!-- Begin Graph Tab -->
<div class="contentPage" id="graphContent" data-role="page">
    <!-- Begin header -->
    <div data-role="header" class="ui-bar-b" data-position="fixed">
      <a href="/halls" data-rel="back">Back</a>
      <h1><%= @hall.name %></h1>
    </div>
    
    <!-- End header -->
    <div id="intervalControls">
      <ul data-role="controlgroup" data-type="horizontal" class="localnav">
        <li><a href="/halls/<%=@hall.id%>?interval=day" data-ajax="false" data-role="button" class="intervalSelection <% if @interval == 'day' %>ui-btn-active<% end %>">Day</a></li>
        <li><a href="/halls/<%=@hall.id%>?interval=week" data-ajax="false" data-role="button" class="intervalSelection <% if @interval == 'week' %>ui-btn-active<% end %>">Week</a></li>
        <li><a href="/halls/<%=@hall.id%>?interval=month" data-ajax="false" data-role="button" class="intervalSelection <% if @interval == 'month' %>ui-btn-active<% end %>">Month</a></li>
      </ul>
    </div>
    
    <div id="graphContainer">
      <script id="pulseGraph" src="<%= @path %>"></script>
    </div>
    
    <!-- Begin footer -->
    <div data-role="footer" class="ui-body-b" data-position="fixed">
	<div data-role="navbar">
	    <ul>
		<li><a href="#graphContent" data-icon="graph" class="ui-btn-active" data-role="tab">Graph</a></li>
		<li><a href="#featureContent" data-icon="feature" data-role="tab">Green Features</a></li>
	    </ul>
	</div>
    </div>
    <!-- End footer -->
</div>
<!-- End Graph Tab -->
<!-- Begin Green Feature Tab -->
<div class="contentPage" id="featureContent" data-role="page">
    <!-- Begin header -->
    <div data-role="header" class="ui-bar-b" data-position="fixed">
      <a href="/halls" data-rel="back">Back</a>
      <h1><%= @hall.name %></h1>
    </div>
    <!-- End header -->

    <ul data-role="listview" data-theme="c" data-inset="true" id="green-features">
      <% @green_features.each do |feature| %>
      	<li>
      	  <img src="/assets/green features/<%=feature.name%>.png" />
      	  <h3><%=feature.full_name%></h3>
      	  <p><%=feature.content%><p>
    	  </li>
      <% end %>
    </ul>
    
    <!-- Begin footer -->
    <div data-role="footer" class="ui-body-b" data-position="fixed">
	<div data-role="navbar">
	    <ul>
		<li><a href="#graphContent" data-icon="graph" data-role="tab">Graph</a></li>
		<li><a href="#featureContent" data-icon="feature" data-role="tab" class="ui-btn-active">Green Features</a></li>
	    </ul>
	</div>
    </div>
    <!-- End footer -->
</div>
<!-- End Green Feature Tab -->

<style type="text/css">
  body { height: 100%; }

  /* Override default jQuery Mobile styling */
  .ui-icon { height: 30px !important; width: 30px !important; margin-left: -15px !important; box-shadow: none !important; border-radius: 0 !important; }
  .ui-icon-graph { background: url('/assets/graph.png') no-repeat 0px 0px !important; background-size: 28px 20px; }
  .ui-icon-feature { background: url('/assets/green_feature.png') no-repeat 0px 0px !important; background-size: 12px 20px; }
  #green-features .ui-li-desc { overflow: visible; white-space: normal; }
  
  .localnav { margin-top: 15px; }
  .localnav li { float: left; }

  #content { padding: 25px; }
  .content-page { margin: 0 auto; }

  #graphContainer { width: 315px; overflow: hidden; }
  #intervalControls { width: 315px; }
  #intervalControls ul { margin: 5px auto; width: 266px; }
</style>

<!-- Uncomment this block when we start using highcharts -->

<script type="text/javascript" src="/assets/highcharts.js"></script>
<script type="text/javascript">
  // Create the graph
  var chart;
  $(document).ready(function () {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'graphContainer',   // The element to render the chart into
        type: 'line'    // Type of graph to draw  
      },
      title: {
        text: '<%= @hall.name %>'   // TODO: Replace with hall name
      },
      xAxis: {
        type: 'datetime'    // Tells highcharts to interpolate the data using the date
      },
      yAxis: {
        text: 'Electricity'
      },
      series: (<%=raw @data %>)[0].Readings    // Array of data points to render
                    // Because we are using datetime, each point should be an array of the form:
                    // [timestamp, yValue], where timestamp is in UTC format
    });
  });
</script>
<!-- End Block -->
