<% if flash[:error] %>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert">׼/a>
    <h4 class="alert-heading"><%=flash[:error]%></h4>
  </div>
<% end %>

<%= form_tag admin_categories_path, :method => 'post' do %>
  <%= label_tag :title, 'Title' %>
  <%= text_field :category, 'name' %>

  <br />
  <%= submit_tag 'Create category', :class => 'btn btn-success' %>
<% end %>