<%= form_tag admin_tip_path(@tip), :method => 'put' do %>
  <%= label_tag :title, 'Title' %>
  <%= text_field :tip, 'title' %>
  
  <%= label_tag :categories, 'Categories' %>
  <% @categories.each do |category| %>
    <label class="checkbox">
      <%= check_box_tag "categories[#{category.name}]", 1, @tip.categories.include?(category)%>
      <%= category.name %>
    </label>
  <% end %>

  <%= label_tag :content, 'Content' %>
  <%= text_area :tip, :content, :size => "60x6", :id => "editor" %>
  <br/>

  <%= submit_tag 'Update Tip', :class => 'btn btn-success' %>
<% end %>

<%= button_to 'Delete Tip', admin_tip_path(@tip), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger'%> 

<script type="text/javascript" src="/assets/jquery.wysiwyg.js"></script>
<script type="text/javascript">
  $(function () {
    $('#editor').wysiwyg({
      initialContent: '',
      css: '/assets/admin/bootstrap.css'
    });
  });
</script>

