<%= form_tag admin_tips_path, :method => 'post' do %>
  <%= label_tag :title, 'Title' %>
  <%= text_field :tip, 'title' %>
  
  <%= label_tag :categories, 'Categories' %>
  <% @categories.each do |category| %>
    <label class="checkbox">
      <%= check_box_tag "categories[#{category.name}]", 1 %>
      <%= category.name %>
    </label>
  <% end %>

  <%= label_tag :content, 'Content' %>
  <%= text_area :tip, :content, :size => "60x6" %>
  <br/>

  <%= submit_tag 'Create Tip', :class => 'btn btn-success' %>
<% end %>
