<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Admin Page</title>

    <!-- Le styles -->
    <%= stylesheet_link_tag    "admin" %>
    <%= javascript_include_tag "admin" %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link href="/assets/admin/bootstrap.css" rel="stylesheet" />
    <link href="/assets/admin/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/assets/admin/jquery.wysiwyg.css" rel="stylesheet" />
    <style type="text/css">
      /* Overwrite default textarea width specified by bootstrap */
      #editor { width: 550px; height: 150px; }
    </style>
    <%= csrf_meta_tags %>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand">Admin</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/admin/tips">Tips</a></li>
              <li><a href="/admin/categories">Categories</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-success">
	  <a class="close" data-dismiss="alert">×</a>
	  <h4 class="alert-heading"><%=flash[:notice]%></h4>
        </div>
      <% end %>

      <% if flash[:error] %>
        <div class="alert alert-error">
	  <a class="close" data-dismiss="alert">×</a>
	  <h4 class="alert-heading"><%=flash[:error]%></h4>
        </div>
      <% end %>
      
      <%= yield %>
    </div --> 
    <!-- /container -->
   
  </body>
</html>
